# Ignore everything by default.
*

!README.md
!.gitignore
!dot-zshrc
!dot-claude/
!dot-claude/settings.json
!install-container.sh

!dot-devcontainer/
!dot-devcontainer/devcontainer.json
!dot-devcontainer/post-create.sh
!dot-devcontainer/Dockerfile
